<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ICEF Price Calculator</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <link rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css">
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <div class="main-wrapper">
        
        <div id="vue">
            <div class="header">
				<img class="icef-pricer-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/471364/icef_logo-min-12.png" />
				<div class="switch-container">
					<div class="switch-label">Attend workshops</div>
					<label class="switch">
						<input type="checkbox" id="modeSelector" v-on:click="changeMode()">
						<span class="slider round"></span>
					</label>
					<div class="switch-label">Exhibition workshops</div>
				</div>
            </div>
            
            <div class="calculator" id="main-wrapper">
                <template class="cart" v-if="cart.length > 0">
                    <v-data-table :headers="headers" :items="cart">

                        <template slot="items" slot-scope="props">
                            <tr v-if="!props.item.booths && !props.item.workandtravel && !props.item.advert">
                                <td class="name">{{ props.item.name }} <br /> <sub>(includes 1 schedule)</sub> </td>
                                <td class="price">{{ props.item.price }}€</td>
                                <td class="qty"><i class="fa fa-plus-square smaller"></i> {{ props.item.quantity }}<i class="fa fa-minus-square smaller"></i>
                                </td>
                                <td class="sub-total">{{ props.item.price * props.item.quantity }}€</td>
                                <td class="item-total">{{ props.item.price * props.item.quantity * discount }}€</td>
                                <td class="discount">{{ ( (props.item.price * props.item.quantity) * discount ) - (props.item.price * props.item.quantity) }}€</td>
                                <td>
                                    <v-btn class="add-to-package" 
                                    v-on:click="absoluteRemoveFromCart(props.item)">REMOVE</v-btn>
                                </td>
                            </tr>

                            <tr v-else-if="props.item.booths && !props.item.advert"> 
                                <td>{{ props.item.name }}</td>
                                <td>{{ props.item.price }}€</td>
                                <td class="qty">{{ props.item.quantity }}</td>
                                <td>{{ props.item.price * props.item.quantity }}€</td>
                                <td>{{ props.item.price * props.item.quantity }}€</td>
                                <td>0€</td>
                                <td>
                                    <v-btn class="add-to-package">REMOVE</v-btn>
                                </td>
                            </tr>

                            <tr v-if="props.item.advert"> 
                                <td>{{ props.item.name }}</td>
                                <td>{{ props.item.price }}€</td>
                                <td class="qty">{{ props.item.quantity }}</td>
                                <td>{{ props.item.price * props.item.quantity }}€</td>
                                <td>{{ props.item.price * props.item.quantity }}€</td>
                                <td>0€</td>
                                <td>
                                    <v-btn class="add-to-package">REMOVE</v-btn>
                                </td>
                            </tr>

                            <tr v-else-if="props.item.workandtravel">
                                <td class="name">{{ props.item.name }} <br /> <sub>(includes 1 schedule)</sub> </td>
                                <td class="price">{{ props.item.price }}€</td>
                                <td class="qty"><i class="fa fa-plus-square smaller"></i> {{ props.item.quantity }}<i class="fa fa-minus-square smaller"></i>
                                </td>
                                <td class="sub-total">{{ props.item.price * props.item.quantity }}€</td>
                                <td class="item-total">{{ props.item.price * props.item.quantity * discount }}€</td>
                                <td class="discount">{{ ( (props.item.price * props.item.quantity) * discount ) - (props.item.price *
                                    props.item.quantity) }}€</td>
                                <td>
                                    <v-btn class="add-to-package" v-on:click="absoluteRemoveFromCart(props.item)">REMOVE</v-btn>
                                </td>
                            </tr>

                            <tr v-if="!props.item.booths && !props.item.workandtravel && !props.item.advert && props.item.schedules.quantity > 0">
                                <td>{{ props.item.schedules.name }}<br /> <sub>(max. 1 per table)</sub></td>
                                <td>{{ props.item.schedules.price }}€</td>
                                <td class="qty">{{ props.item.schedules.quantity }}</td>
                                <td>{{ props.item.schedules.price * props.item.schedules.quantity }}€</td>
                                <td>{{ props.item.schedules.price * props.item.schedules.quantity - 0 }}€</td>
                                <td>0€</td>
                                <td></td>
                            </tr>

                            <tr v-if="!props.item.booths && !props.item.workandtravel && !props.item.advert && props.item.additionalPeople.quantity > 0">
                                <td>{{ props.item.additionalPeople.name }}</td>
                                <td>{{ props.item.additionalPeople.price }}€</td>
                                <td class="qty">{{ props.item.additionalPeople.quantity }}</td>
                                <td>{{ props.item.additionalPeople.price * props.item.additionalPeople.quantity }}€</td>
                                <td>{{ props.item.additionalPeople.price * props.item.additionalPeople.quantity }}€</td>
                                <td>0€</td>
                                <td></td>
                            </tr>

                            <tr class="sponsorship-platinum" v-if="!props.item.booths && !props.workandtravel && !props.item.advert && props.item.sponsorships.platinum.quantity > 0">
                                <td> {{ props.item.sponsorships.platinum.name }} </td>
                                <td> {{ props.item.sponsorships.platinum.price }}€ </td>
                                <td> {{ props.item.sponsorships.platinum.quantity }} </td>
                                <td> {{ props.item.sponsorships.platinum.price * props.item.sponsorships.platinum.quantity }}€ </td>
                                <td> {{ props.item.sponsorships.platinum.price * props.item.sponsorships.platinum.quantity }}€ </td>
                                <td> 0€ </td>
                                <td></td>
                            </tr>

                            <tr class="sponsorship-gold" v-if="!props.item.booths && !props.workandtravel && !props.item.advert && props.item.sponsorships.gold.quantity > 0">
                                <td> {{ props.item.sponsorships.gold.name }} </td>
                                <td> {{ props.item.sponsorships.gold.price }}€ </td>
                                <td> {{ props.item.sponsorships.gold.quantity }} </td>
                                <td> {{ props.item.sponsorships.gold.price * props.item.sponsorships.gold.quantity }}€ </td>
                                <td> {{ props.item.sponsorships.gold.price * props.item.sponsorships.gold.quantity }}€ </td>
                                <td> 0€ </td>
                                <td></td>
                            </tr>

                            <tr class="sponsorship-silver" v-if="!props.item.booths && !props.workandtravel && !props.item.advert && props.item.sponsorships.silver.quantity > 0">
                                <td> {{ props.item.sponsorships.silver.name }} </td>
                                <td> {{ props.item.sponsorships.silver.price }}€ </td>
                                <td> {{ props.item.sponsorships.silver.quantity }} </td>
                                <td> {{ props.item.sponsorships.silver.price * props.item.sponsorships.silver.quantity }}€ </td>
                                <td> {{ props.item.sponsorships.silver.price * props.item.sponsorships.silver.quantity }}€ </td>
                                <td> 0€ </td>
                                <td></td>
                            </tr>

                            <!-- the below row yields the following error message - cannot find 'tag' of undefined -->

                            <tr v-if="props.item.marketing_and_sponsorships[0].quantity">
                                <td> {{ props.item.sponsorships.silver.name }} </td>
                                <td> {{ props.item.sponsorships.silver.price }}€ </td>
                                <td> {{ props.item.sponsorships.silver.quantity }} </td>
                                <td> {{ props.item.sponsorships.silver.price * props.item.sponsorships.silver.quantity }}€ </td>
                                <td> {{ props.item.sponsorships.silver.price * props.item.sponsorships.silver.quantity }}€ </td>
                                <td> 0€ </td>
                                <td></td>
                            </tr>
                            
                            <template v-for="item in props.item.marketing_and_sponsorships">
                                <template v-for="type in item.types">
                                    <tr v-if="type.quantity > 0">
                                        <td> {{ type.name }} </td>
                                        <td> {{ type.price }}€ </td>
                                        <td> {{ type.quantity }} </td>
                                        <td> {{ type.price * type.quantity }}€ </td>
                                        <td> {{ type.price * type.quantity }}€ </td>
                                        <td> 0€ </td>
                                        <td></td>
                                    </tr>
                                </template>
                            </template>

                        </template>

                        <template slot="footer">
                            <td class="checkout-btn-container">
                                <v-btn v-on:click="gotoCheckout()">Go to checkout</v-btn>
                            </td>

                            <td class="totals">
                                <span v-if="earlytotal">Original total : €{{ earlytotal }} </span>
                                <span v-else>Original total : €{{ total }} </span>
                                <span v-if="subitemtotal">Subitems total: €{{ subitemtotal }} </span>
                                <span v-if="earlytotal && subitemtotal">Undiscounted total: €{{ earlytotal + subitemtotal}} </span>
                                <span v-if="!earlytotal && subitemtotal">Undiscounted total: €{{ total + subitemtotal }} </span>
                                <span v-if="discount !== 1">Discount rate: {{ ( (1 - discount) * 100 ).toFixed() }}% </span>
                                <span>Discounted : €{{ (total * discount) - total }} </span>
                                <strong v-if="earlytotal">Total: €{{subitemtotal + earlytotal}} </strong>
                                <strong v-else>Total: €{{(total * discount) + subitemtotal }} </strong>

                            </td>
                        </template>
                    </v-data-table>
                </template>

                <v-card class="events">

                    <v-container xs12>
                        <v-layout row wrap>
                            <v-layout column>
                                <v-flex v-for="product in products">
                                    <v-card class="blue--text">
                                        <div class="product-info-container">
                                            <div class="product-info">
                                                <div class="product-name">
                                                    {{ product.name }}
                                                    <span v-if="product.earlyRate && earlyRates" class="early-notification">Early rate:
                                                        €{{ product.priceearly }}!</span>
                                                    <span v-else-if="product.endofearly && product.selectedearly" class="early-notification  multiple-bookings">
                                                        Early discount rates are no longer applicable.
                                                    </span>
                                                    <span v-else-if="product.selectedearly" class="early-notification">Early discount
                                                        rates have been applied at: €{{ product.priceearly }}!</span>
                                                </div>
                                                <div class="price-container">
                                                    <div class="product-price" v-if="product.tables">
                                                        €{{ product.tables.price }}
                                                    </div>
                                                    <div class="product-price" v-else>
                                                        €{{ product.price }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="attendance" v-if="product.incart > 0">
                                                <div class="attendance schedules">
                                                    <i class="fa fa-calendar-o"></i> Additional schedules:
                                                    <i class="fa fa-minus-square smaller" 
                                                        v-on:click="removeSubItem(product, product.tables.schedules, 'schedules')"
                                                        v-if="product.tables.schedules.quantity > 0">
                                                    </i>
                                                    <i class="fa fa-minus-square smaller hidden" v-else></i>
                                                    <span>{{ product.tables.schedules.quantity }}</span>
                                                    <i class="fa fa-plus-square smaller" v-on:click="addSubItem(product, product.tables.schedules, 'schedules')"></i>
                                                </div>
                                                <div class="attendance additional-people">
                                                    <i class="fa fa-id-card"></i> </i> Additional people:
                                                    <i class="fa fa-minus-square smaller" v-on:click="removeSubItem(product, product.tables.additionalPeople)"
                                                        v-if="product.tables.additionalPeople.quantity > 0">
                                                    </i>
                                                    <i class="fa fa-minus-square smaller hidden" v-else></i>
                                                    <span> {{ product.tables.additionalPeople.quantity }} </span>
                                                    <i class="fa fa-plus-square smaller" v-on:click="addSubItem(product, product.tables.additionalPeople)"></i>
                                                </div>
                                            </div>
                
                                            <div class="sponsorship-box" v-if="product.incart > 0">
                                                <span class="sponsorship-intro">Sponsorship packages:</span>
                                                <div class="sponsorship-container">

                                                    <v-btn light class="platinum sponsorship" 
                                                        v-on:click="addSubItem(product, product.tables.sponsorships.platinum, 'sponsorship_package')"
                                                        v-if="product.tables.sponsorships.platinum.quantity == 0">
                                                        Platinum: {{ product.tables.sponsorships.platinum.price }}</v-btn>
                                                    <v-btn class="platinum-pressed sponsorship-pressed sponsorship light" 
                                                        v-on:click="removeSubItem(product,product.tables.sponsorships.platinum)"
                                                        v-else>Platinum: {{ product.tables.sponsorships.platinum.price }}</v-btn>

                                                    <v-btn light class="gold sponsorship light" v-on:click="addSubItem(product, product.tables.sponsorships.gold, 'sponsorship_package')"
                                                        v-if="product.tables.sponsorships.gold.quantity == 0">
                                                        Gold: {{ product.tables.sponsorships.gold.price }}</v-btn>
                                                    <v-btn class="gold-pressed sponsorship-pressed sponsorship light" v-on:click="removeSubItem(product,product.tables.sponsorships.gold)"
                                                        v-else>Gold: {{ product.tables.sponsorships.gold.price }}</v-btn>

                                                    <v-btn light class="silver sponsorship" v-on:click="addSubItem(product, product.tables.sponsorships.silver, 'sponsorship_package')"
                                                        v-if="product.tables.sponsorships.silver.quantity == 0">
                                                        Silver: {{ product.tables.sponsorships.silver.price }}</v-btn>
                                                    <v-btn class="silver-pressed sponsorship-pressed sponsorship light" v-on:click="removeSubItem(product,product.tables.sponsorships.silver)"
                                                        v-else>Silver: {{ product.tables.sponsorships.silver.price }}</v-btn>

                                                    <i class="fa fa-question-circle"></i>
                                                </div>

                                                <template>
                                                    <v-expansion-panel class="marketing-and-sponsorship-items">
                                                        <v-expansion-panel-content v-for="item in product.tables.marketing_and_sponsorships">
                                                            <div slot="header">{{ item.name }}</div>
                                                            <v-card class="sponsorship-type" v-for="type in item.types">
                                                                <v-btn class="marketing-choice" 
                                                                    v-on:click="addSubItem(product, type, 'marketing')">
                                                                    {{ type.name }} : €{{ type.price}} 
                                                                </v-btn>
                                                                <i class="fa fa-question-circle"></i>
                                                            </v-card>
                                                        </v-expansion-panel-content>
                                                    </v-expansion-panel>
                                                </template>

                                            </div>
                                            
                                            
											
											<v-card v-if="product.selectBoothBoolean && attendBooths" class="booths-table">
                                                <v-card-text class="booth-choice-container">
                                                    <div class="booth-choice">
                                                        <div class="booth-category">
                                                            Large:
                                                        </div>
                                                        <div class="booth-buttons">
                                                            <v-btn v-if="product.booths.large12" v-on:click="addToCart(product, product.booths.large12, 'booths')">
                                                                12m²
                                                            </v-btn>
                                                            <v-btn v-if="product.booths.large10" v-on:click="addToCart(product, product.booths.large10, 'booths')">
                                                                10m²
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                    <div class="booth-choice">
                                                        <div class="booth-category">
                                                            Medium:
                                                        </div>
                                                        <div class="booth-buttons">
                                                            <v-btn v-if="product.booths.medium8" v-on:click="addToCart(product, product.booths.medium8, 'booths')">
                                                                8m²
                                                            </v-btn>
                                                            <v-btn v-if="product.booths.medium6" v-on:click="addToCart(product, product.booths.medium6, 'booths')">
                                                                6m²
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                    <div class="booth-choice">
                                                        <div class="booth-category">
                                                            Small:
                                                        </div>

                                                        <div class="booth-buttons">
                                                            <v-btn v-if="product.booths.std5" v-on:click="addToCart(product, product.booths.std5, 'booths')">
                                                                4.5m²
                                                            </v-btn>
                                                            <v-btn v-if="product.booths.std4" v-on:click="addToCart(product, product.booths.std4, 'booths')">
                                                                4m²
                                                            </v-btn>
                                                            <v-btn v-if="product.booths.std4" v-on:click="addToCart(product, product.booths.std4, 'booths')">
                                                                3m²
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                </v-card-text>
                                            </v-card>

                                        </div>

                                        <v-card-actions v-if="!product.incart">
                                            <v-btn v-if="!attendBooths && accountType == 'educator'" 
                                                v-on:click="addToCart(product, product.tables, 'tables')"> 
                                                Add to package 
                                            </v-btn>
                                            <v-btn class="booths booths-activator" 
                                                v-on:click="showBoothOptions(product)" 
                                                v-if="attendBooths && !product.selectBoothBoolean">
                                                Exhibition booths
                                            </v-btn>
                                            <v-btn class="work-and-travel"
                                                v-on:click="addToCart(product, product.work_and_travel, 'work_and_travel')" 
                                                v-if="accountType == 'work_and_travel' && product.workandtravel">
                                                Attend as Work and Travel provider
                                            </v-btn>
                                        </v-card-actions>
   
                                        <v-card-actions v-if="product.incart">
                                            <v-btn class="add-to-package remove-from-package" 
                                                v-on:click="absoluteRemoveFromCart(product)" 
                                                v-if="product.incart">
                                                Remove
                                            </v-btn>
                                        </v-card-actions>
                                    
                                    </v-card>

                                </v-flex>
                            </v-layout>
                        </v-layout>

                    </v-container>
                </v-card>
            </div>
            <template>
                <v-layout row justify-center>
                    <v-dialog v-model="advertModal" max-width="600" class="advert-dialog">
                        <v-btn class="adverts adverts-activator" slot="activator">Adverts</v-btn>
                        <v-card class="adverts-table">
                            <!-- <v-card-title class="headline">Choose your exhibition booth!</v-card-title> -->
                            <v-card-text class="advert-choice-container">
                                <div class="advert-section" v-for="advert in adverts">
                                    <v-card-title> {{ advert.type }} </v-card-title>
                                    <div class="advert-choice" v-for="choice in advert.choices">
                                        <v-btn v-on:click="addToCart('', choice, 'adverts')">
                                            {{ choice.name }}
                                        </v-btn>
                                    </div>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-dialog>
                </v-layout>
            </template>
            <div class="checkout" id="checkout">
  
            </div>
        </div>
        
    </div>
    
    <!-- all our custom functions come from here -->
    <script type="text/javascript" src="index.js"></script> 

    
</body>

</html>

<!-- <template v-if="product.incart > 0">
    <v-layout row justify-center>
        <v-dialog v-model="boothModal" persistent max-width="600">
            <v-btn class="booths booths-activator" slot="activator">Exhibition booths</v-btn>
            <v-card class="booths-table">
                <v-card-title class="headline">Choose your exhibition booth!</v-card-title>
                <v-card-text class="booth-choice-container">
                    <div class="booth-choice">
                        <div class="booth-category">
                            Large:
                        </div>
                        <div class="booth-buttons">
                            <v-btn v-if="product.tables.booths.large12" v-on:click="addSubItem(product, product.tables.booths.large12)"
                                @click="boothModal = false">
                                12m²
                            </v-btn>
                            <v-btn v-if="product.tables.booths.large10" v-on:click="addSubItem(product, product.tables.booths.large10)">
                                10m²
                            </v-btn>
                        </div>
                    </div>
                    <div class="booth-choice">
                        <div class="booth-category">
                            Medium:
                        </div>
                        <div class="booth-buttons">
                            <v-btn v-if="product.tables.booths.medium8" v-on:click="addSubItem(product, product.tables.booths.medium8)">
                                8m²
                            </v-btn>
                            <v-btn v-if="product.tables.booths.medium6" v-on:click="addSubItem(product, product.tables.booths.medium6)">
                                6m²
                            </v-btn>
                        </div>
                    </div>
                    <div class="booth-choice">
                        <div class="booth-category">
                            Small:
                        </div>

                        <div class="booth-buttons">
                            <v-btn v-if="product.tables.booths.std5" v-on:click="addSubItem(product, product.tables.booths.std5)">
                                4.5m²
                            </v-btn>
                            <v-btn v-if="product.tables.booths.std4" v-on:click="addSubItem(product, product.tables.booths.std4)">
                                4m²
                            </v-btn>
                            <v-btn v-if="product.tables.booths.std4" v-on:click="addSubItem(product, product.tables.booths.std4)">
                                3m²
                            </v-btn>
                        </div>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-layout>
</template> -->