<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ICEF Price Calculator</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <h1>Vue Shopping Cart</h1>
        </div>
        <div id="vue">
            <v-card>
                <v-container xs10 justify-space-around>
                    <v-layout row wrap>
                        <v-layout column>
                            <v-flex v-for="product in products">
                                <v-expansion-panel expand=true>
                                    <v-card color="blue-grey darken-2" class="white--text">
                                        <v-card-title primary-title>
                                            <div class="headline">{{product.product}}</div>
                                            <div>{{ product.description }}</div>
                                        </v-card-title>
                                        <v-card-actions>
                                            <v-btn v-on:click="addToCart(product);" flat dark v-if="Date.now() < new Date(product.earlybirdends)">{{
                                                $n(product.priceearly, 'currency') }}</v-btn>
                                            <v-btn v-on:click="product.incart = 1; cart.push(product);" flat dark v-else>{{
                                                $n(product.price, 'currency') }}</v-btn>
                                            <p v-if="product.incart > 0">{{ product.incart }} in package <v-btn flat dark v-on:click="product.incart = 0">
                                                    remove </v-btn>
                                            </p>
                                        </v-card-actions>
                                    </v-card>
                                </v-expansion-panel>
                            </v-flex>
                        </v-layout>
                        
                        <v-layout column>
                            <v-flex v-for="product in cart">
                                <v-card color="blue-grey darken-2" class="white--text">
                                    <v-card-title primary-title>
                                        <div class="headline">{{product.product}}</div>
                                        <div>{{ product.description }}</div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn v-on:click="removeFromCart(product)" flat dark v-if="Date.now() < new Date(product.earlybirdends)">{{
                                            $n(product.priceearly, 'currency') }}</v-btn>
                                        <v-btn v-on:click="removeFromCart(product)" flat dark v-else>{{ $n(product.price,
                                            'currency') }}</v-btn>
                                        <p v-if="product.incart > 0">{{ product.incart }} in package <v-btn flat dark
                                                v-on:click="removeFromCart(product)"> remove </v-btn>
                                        </p>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-layout>
    
                </v-container>
                <v-container>
                    <v-card>
                        Total: {{$n(total, 'currency')}}
                    </v-card>
                </v-container>
            </v-card>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
    
    
    
</body>

</html>