<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ICEF Price Calculator</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <link rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css">
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"> -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

</head>

<body>
    <div class="main-wrapper"></div>
        <!-- <div class="header">
            <h1>Vue Shopping Cart</h1>
        </div> -->
        <div class="header">
            <img class="icef-pricer-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/471364/icef_logo-min-12.png" />
        </div>
        <div id="vue">
            <template class="cart" v-if="cart.length > 0">
               <v-data-table
                :headers="headers"
                :items="cart">

                <template slot="items" slot-scope="props">
                    <tr>
                        <td>{{props.item.name}} <br /> <sub>(includes 1 schedule)</sub> </td>
                        <td>€{{props.item.price}}</td>
                        <td class="qty">
                            <i class="fa fa-minus-square smaller"></i> {{props.item.quantity}}<i class="fa fa-plus-square smaller"></i> </td>
                        <td>€{{props.item.price * props.item.quantity}}</td>
                        <td><v-btn class="add-to-package" v-on:click="absoluteRemoveFromCart(props.item)">REMOVE</v-btn></td>
                    </tr>
                    <tr v-if="props.item.schedules.quantity > 0">
                    <td>{{props.item.schedules.name}}<br /> <sub>(max. 1 per table)</sub></td>
                        <td>€{{props.item.schedules.price}}</td>
                        <td class="qty">
                            <i class="fa fa-minus-square smaller" v-on:click="removeSubItem(props.item, props.item.schedules,'schedules')"></i> 
                            {{props.item.schedules.quantity}}
<i class="fa fa-plus-square smaller" v-on:click="addSubItem(props.item, props.item.schedules, 'schedules')"></i></td>
                        <td>€{{props.item.schedules.price * props.item.schedules.quantity}}</td>
                        <td></td>
                    </tr>
                    <tr v-if="props.item.additionalPeople.quantity > 0">
                        <td>{{props.item.additionalPeople.name}}</td>
                        <td>€{{props.item.additionalPeople.price}}</td>
                        <td class="qty">
                        <i class="fa fa-minus-square smaller" v-on:click="removeSubItem(props.item, props.item.additionalPeople, 'additionalPeople')"></i>
                            {{props.item.additionalPeople.quantity}}
                        <i class="fa fa-plus-square smaller" v-on:click="addSubItem(props.item, props.item.additionalPeople, 'additionalPeople')"></i></td>
                        <td>€{{props.item.additionalPeople.price * props.item.additionalPeople.quantity}}</td>
                        <td></td>
                    </tr>
                        <!-- <tr v-if="props.item.additional.length">
                        test
                    </tr> -->
                </template>    

                <template slot="footer">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                       <strong>Total: €{{total}} </strong> 
                    </td>
                </template>
               </v-data-table>
            </template>

            <v-card class="events">

                <v-container xs12>
                    <v-layout row wrap>
                        <v-layout column>
                            <v-flex v-for="product in products">
                                <v-card class="blue--text">
                                    <div class="product-info-container">
                                        <div class="product-info">
                                            <div class="product-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="product-price" v-if="product.tables">
                                                €{{ product.tables.price || currency }}
                                            </div>
                                            <div class="product-price" v-else>
                                                €{{ product.price || currency }}
                                            </div>
                                        </div>
                                        <div class="attendance" v-if="product.incart > 0">
                                            <div class="attendance schedules">
                                                <i class="fa fa-calendar-o"></i> Additional schedules: 
                                                <i class="fa fa-minus-square smaller" v-on:click="removeSubItem(product, product.tables.schedules, 'schedules')" v-if="product.tables.schedules.quantity > 0"></i> 
                                                <span>{{ product.tables.schedules.quantity }}</span> 
                                                <i class="fa fa-plus-square smaller" v-on:click="addSubItem(product, product.tables.schedules, 'schedules')"></i>
                                            </div>
                                            <div class="attendance additional-people">
                                                <i class="fa fa-id-card"></i> </i> Additional people: 
                                                <i class="fa fa-minus-square smaller" v-on:click="removeSubItem(product, product.tables.additionalPeople)" v-if="product.tables.additionalPeople.quantity > 0"></i>
                                                <span> {{ product.tables.additionalPeople.quantity }} </span> 
                                                <i class="fa fa-plus-square smaller" v-on:click="addSubItem(product, product.tables.additionalPeople)"></i>
                                            </div>
                                        </div>
                                    </div>
                                   <v-card-actions>
                                        <v-btn class="add-to-package" v-on:click="addToCart(product, product.tables)" v-if="!product.incart">Add to package</v-btn>
                                        <v-btn class="add-to-package" v-on:click="absoluteRemoveFromCart(product)" v-if="product.incart">Remove</v-btn>
                                   </v-card-actions>
                                </v-card>

                            </v-flex>
                        </v-layout>
                    </v-layout>
    
                </v-container>
            </v-card>
        </div>
        </div>
    </div>
    <!-- all our custom functions come from here -->
    <script type="text/javascript" src="index.js"></script> 

    
</body>

</html>