@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: Roboto;
}

body {
    background-color: #eef0f3;
}

.headline {
    margin-right: 3%;
}

.main-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    background: #eef0f3;
}

.layout.column {
    margin-right: 5%;
}

.layout.column>.flex {
    margin-bottom: 1%;
}

.v-card.theme--light {
    display: flex;
		justify-content: space-between;
		box-shadow: none !important;
}

.theme--light.v-table {
  background-color: #fff;
  color: rgba(0,0,0,.87);
  margin-right: 10px !important;
  background: #eef0f3 !important;
  border-collapse: collapse;
}

table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
  padding: 0 24px;
  border: 1px solid #eef0f3;
}

th.column.text-xs-left {
  background: #00479e;
  color: white !important;
  padding: 5px !important;
}

td {
  background: white;
}

th.column.text-xs-left:first-child {
  width: 20%;
}

.white--text.v-card.theme--light.blue-grey.darken-2 {
    width: 100%;
}

.product-info {
    display: flex;
    font-size: 1.4em;
    width: 200px;
    justify-content: space-between;
    margin-top: 6%;
    margin-left: 6%;
}

.add-to-package {
    background-color: transparent !important;
    border: 0px transparent !important;
    box-shadow: none !important;
}

.v-table__overflow {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 840px;
    margin: 0 auto;
  	width: 50% !important;
 	 float: right;
}

table.v-table {
    background-color: transparent!important;
}

.events {
    background-color: transparent!important;
}

.attendance {
    padding: 10px;
}

.v-datatable__actions {
    display: none !important;
}

.blue--text.v-card.theme--light {
    width: 100%;
}

img.icef-pricer-logo {
    height: 180px;
}

.blue--text.v-card.theme--light {
    border-radius: 5px;
}

.theme--light.v-table thead tr:first-child {
    border: none!important;
}

table.v-table thead tr {
    height: unset!important;
}

.theme--light.v-card {
  background-color: #fff;
  border-color: #fff;
  color: rgba(0,0,0,.87);
  width: 50%;
}

table.v-table thead th,
table.v-table tfoot td,
table.v-table tbody td {
    padding: 0 15px !important;
}

.qty {
    width: 70px;
}

.fa-minus-square, .fa-plus-square {
    cursor: pointer;
}
