@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: Roboto;
}

body {
    background-color: #eef0f3;
}

/* div#vue {
    position: relative;
    left: -5%;
} */

.headline {
    margin-right: 3%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    background: #eef0f3;
}

.layout.column {
    margin-right: 5%;
}

.layout.column>.flex {
    margin-bottom: 1%;
}

.v-card.theme--light {
    display: flex;
    justify-content: space-between;
    box-shadow: none !important;
}

.theme--light.v-table {
    background-color: #fff;
    color: rgba(0,0,0,.87);
    margin-right: 10px !important;
    background: #eef0f3 !important;
    border-collapse: collapse;
}

button.v-btn.theme--light {
    margin: 2px;
    border-radius: 15px;
    background-color: transparent;
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: unset;
}

table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
    padding: 0 24px;
    border: 1px solid #eef0f3;
}

th.column.text-xs-left {
    background: #00479e;
    color: white !important;
    padding: 5px !important;
}

td {
    background: white;
}

th.column.text-xs-left:first-child {
    width: 20%;
}

.white--text.v-card.theme--light.blue-grey.darken-2 {
    width: 100%;
}

.product-info {
    display: flex;
    font-size: 1.4em;
    width: 200px;
    justify-content: space-between;
    margin-top: 6%;
    margin-left: 6%;
}

.add-to-package {
    background-color: transparent !important;
    border: 0px transparent !important;
    box-shadow: none !important;
}

.remove-from-package {
    position: relative;
    right: 10%;
}

.v-table__overflow {
    overflow-x: unset!important;
    overflow-y: unset!important;
    max-width: 840px;
    margin: 0 auto;
  	width: 50% !important;
 	 float: right;
}

table.v-table {
    background-color: transparent!important;
}

.events {
    background-color: transparent!important;
}

.attendance {
    padding: 10px;
}

.v-card__actions {
    position: relative;
    right: 5%;
}

.v-datatable__actions {
    display: none !important;
}

.blue--text.v-card.theme--light {
    width: 100%;
}

img.icef-pricer-logo {
    height: 180px;
}

.blue--text.v-card.theme--light {
    border-radius: 5px;
}

.theme--light.v-table thead tr:first-child {
    border: none!important;
}

table.v-table thead tr {
    height: unset!important;
}

.theme--light.v-card {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0,0,0,.87);
    width: 50%;
}

.name {
    padding: 0 !important;
    padding-left: 10px !important;
}

tr {
    height: 70px;
}

.qty {
    width: 10px;
    text-align: center;
}

.fa-minus-square, .fa-plus-square {
    cursor: pointer;
}

span.schedule-alert {
    margin-top: 4%;
    font-size: 10px;
    color: red;
}

.hidden {
    color: transparent;
    pointer-events: none;
}

.go-to-checkout {
    position: absolute!important;
    right: 13%;
}

.early-notification {
    color: green;
    font-size: 12px;
    width: 200%;
    bottom: 0;
}

.multiple-bookings {
    color: grey;
}

.product-name {
    display: flex;
    flex-direction: column;
}

td.totals {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    right: 12.5%;
    text-align: right;
}

td.checkout-btn-container {
    background: none;
    position: relative;
    top: 5px;
}

td.checkout-btn-container > button {
    border-radius: 5px;
}

.checkout {
    display: none;
}

.sponsorship-intro {
    margin-left: 5%;
}

.sponsorship-container {
    display: flex;
    padding-bottom: 20px;
    position: relative;
    left: 20px;
    margin-top: 2%;
}



.v-btn {
    padding: 0 10px;
}

button.platinum.v-btn.theme--light {
    border: 2px solid #E5E4E2 !important;
    /* color: #e5e4e2 !important; */
}

button.gold.v-btn.theme--light {
    border: 2px solid #D4AF37 !important;
    /* color: #D4AF37 !important; */
}

button.silver.v-btn.theme--light {
    border: 2px solid #C0C0C0 !important;
    /* color: #C0C0C0 !important; */
}

.pressed {
    color: white!important;
}

.platinum-pressed {
    background-color: #E5E4E2 !important;
}

.gold-pressed {
    background-color: #D4AF37 !important;
}

.silver-pressed {
    background-color: #C0C0C0 !important;
}

.theme--light.v-btn {
    color: white;
}

.booths-table.v-card.theme--light {
    align-items: center;
    width: 100%;
}

.v-card__text.booth-choice-container {
    width: 100%;
    margin-bottom: 6%;
    display: flex;
}

.booth-choice {
    display: flex;
    align-items: center;
    margin-right: 25%;
}

button.booths.booths-activator.v-btn.theme--light {
    margin-bottom: 7%;
}

.booth-buttons {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 40px;
    justify-content: space-around;
}

.v-card__text.booth-choice-container {
    justify-content: space-between;
    margin-bottom: 6%;
}

.switch-container {
    margin-right: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 10%
}

.switch-label {
    width: 10%;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

button.work-and-travel.v-btn.theme--light {
    font-size: 11px;
    position: absolute;
    right: -15;
    bottom: 5;
}

.adverts-table.v-card.theme--light {
    width: 100%;
}

button.add-to-package.remove-from-package.v-btn.theme--light {
    position: absolute;
    top: 20;
}

ul.v-expansion-panel.marketing-and-sponsorship-items.theme--light {
    width: 103%;
}

button.marketing-choice.v-btn.theme--light {
    margin: 10px;
}

.advert-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-dialog.v-dialog--active {
    width: 350px;
}
