@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: Roboto;
}

.headline {
    margin-right: 3%;
}

.main-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.layout.column {
    margin-right: 5%;
}

.layout.column>.flex {
    margin-bottom: 1%;
}

.v-card.theme--light {
    display: flex;
    justify-content: space-between;
}

.white--text.v-card.theme--light.blue-grey.darken-2 {
    width: 100%;
}

.product-info {
    display: flex;
    font-size: 1.4em;
    width: 120%;
    justify-content: space-between;
    margin-top: 13%;
    margin-left: 6%;
}

.add-to-package {
    background-color: transparent !important;
    border: 0px transparent !important;
    box-shadow: none !important;
}

.v-table__overflow {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 840px;
    margin: 0 auto;
}

.attendance {
    padding: 10px;
}

.v-datatable__actions {
    display: none;
}